@page "/email/verification"
@layout EmailVerifyLayout
<div class="email-verify">
    <h3>Thank you for verifying your email.<a href="/" style=""> Go to login</a></h3>
    
</div>
<style>
    .email-verify {
        padding: 30px;
        height: 100px;
        background: ghostwhite;
    }
</style>

@code {

}
