@page "/login/fail"
@layout EmailVerifyLayout
<div class="login-failed">
    <h2>Log In Failed!</h2><br />
    <div>Perhaps you typed incorrect email or password. Please try again! <a href="/" style=""> Go to login</a></div>
</div>
<style>
    .login-failed {
        padding: 30px;
        background: ghostwhite;
    }
</style>

@code {

}
