@inherits LayoutComponentBase
<div class="col-12"
     style="height:100vh;padding: 0px;
            background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');background-size:cover;
            background-repeat: no-repeat;">
    <br />
    @Body
</div>

@code {

}
