@using Blz.FormBuilder.Controls
@page "/formbuilder"
@using Blz.FormBuilder.Services

<h3>FormBuilder</h3>
<div class="main-container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-2 toolboxside">
                <ToolboxSide 
                    OnNewHeaderDragEndEvent="CreateNewHeader"
                    OnNewEntryDragEndEvent="CreateNewTextEntry"
                >
                </ToolboxSide>
            </div>
            <div class="col">
                <FormControl 
                    AllControls="@_AllControls" 
                    ControlNameFromProperty="@ControlNameFromProperty" 
                    ControlBgFromProperty="@ControlBgFromProperty">
                </FormControl>
            </div>
            <div class="col-3 formdesigner">
                <CascadingValue Value="_AllControls">
                    <FormDesigner></FormDesigner>
                </CascadingValue>
            </div>
        </div>
    </div>
@code {
    public List<BaseEditorControl> _AllControls { get; set; }
    public BaseEditorControl _NewControl { get; set; }
    [Parameter]
    public string ControlNameFromProperty { get; set; }
    [Parameter]
    public string ControlBgFromProperty { get; set; }
    protected override void OnInitialized()
    {
        this._AllControls = new List<BaseEditorControl>();
        List<string> header_name = new List<string>();
        List<string> textEntry_name = new List<string>();
        header_name.Add("Control 1 (HeaderFormControlb)");
        header_name.Add("Control 3 (HeaderFormControl)");
        header_name.Add("Control 5 (Header)");
        textEntry_name.Add("Control 2 (TextEntry)");
        textEntry_name.Add("Control 4 (TextEntry)");
        textEntry_name.Add("Control 6 (TextEntry)");
        for (int i = 0; i < header_name.Count; i++)
        {
            _AllControls.Add(new HeaderFormControl(header_name[i], "default"));
            _AllControls.Add(new TextEntryFormControl(textEntry_name[i], "default"));
        }
    }
    public void CreateNewHeader()
    {
        if(AppData.g_dropActive)
        {
            HeaderFormControl newHeaderControl = new HeaderFormControl("New Header Control", "default");
            Console.WriteLine("Jelly");
            Console.WriteLine(AppData.g_dropIndex);
            //this._AllControls.Add(newHeaderControl);
            this._AllControls.Insert(AppData.g_dropIndex, newHeaderControl);
            AppData.g_dropActive = false;
        }
    }
    public void CreateNewTextEntry()
    {
        if(AppData.g_dropActive)
        {
            TextEntryFormControl newTextEntryControl = new TextEntryFormControl("New TextEntry Control", "default");
            //this._AllControls.Add(newTextEntryControl);
            this._AllControls.Insert(AppData.g_dropIndex, newTextEntryControl);
            AppData.g_dropActive = false;
        }
    }

}
