@page "/home"


<h1>Hello, world!</h1><br />

<AuthorizeView>
    <Authorized>
        <h3>Welcome, @context.User.Identity.Name</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are signed out</h3>
    </NotAuthorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    public string activation_code { get; set; }
}
